<%- include('partials/header') %>

    <h3>Invader : The game</h3>
  <form class="configuration"></form>
  <div id="invader"></div>
  <script src="/js/invader.js"></script>

<%- include('partials/footer') %>